<div class="container d-flex justify-content-center align-items-center" style="margin-top: 200px; margin-bottom: 50px;">
    <form [formGroup]="credenzialiForm" (ngSubmit)="onSubmit()" class="text-center mt-5 mb-5 bg-dark text-light"
        style="max-width: 600px; width: 90%;  padding: 40px; border-radius: 20px;">

        <h2 class="mb-4" style="font-size: 2rem; font-weight: bold; color: whitesmoke;">Registrazione</h2>
        <!-- Title with larger font -->

        <div class="mb-3">
            <div class="col-10 mx-auto">
                <label for="user" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Email:</label>
                <input id="user" formControlName="user" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold; margin-bottom: 30px;"
                    required />

                <!-- Validation messages for the email input -->
                <div *ngIf="credenzialiForm.get('user')?.invalid && credenzialiForm.get('user')?.touched"
                    class="text-danger">
                    <small *ngIf="credenzialiForm.get('user')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">Email è richiesta.</small>
                    <small *ngIf="credenzialiForm.get('user')?.errors?.['email']"
                        style="font-size: 1rem; color: #ff0000;">Email non è valida.</small>
                </div>

                <!-- User existence error message -->
                <div *ngIf="userError" class="text-danger mt-2">
                    <small style="font-size: 1rem; color: #ff0000;">{{ userError }}</small>
                </div>
            </div>
        </div>

        <button type="submit" class="btn custom-btn w-100" [disabled]="credenzialiForm.invalid"
            style="font-size: 1.2rem;">
            Next
        </button>
    </form>
</div>