<div class="container d-flex justify-content-center align-items-center custom-margin">
    <form [formGroup]="anagraficaForm" (ngSubmit)="onSubmit()" class="text-center bg-dark text-light"
        style="max-width: 800px; width: 90%;  padding: 40px; border-radius: 20px;">

        <h2 class="mb-4" style="font-size: 2rem; font-weight: bold; color: whitesmoke;">Informazioni Personali</h2>

        <div class="row mb-3">
            <div class="col-12 col-md-6"> <!-- First column -->
                <label for="nome" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Nome:</label>
                <input id="nome" formControlName="nome" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required>
                <div *ngIf="anagraficaForm.get('nome')?.invalid && anagraficaForm.get('nome')?.touched"
                    class="text-danger">
                    <small *ngIf="anagraficaForm.get('nome')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">Nome è richiesto.</small>
                </div>
            </div>
            <div class="col-12 col-md-6"> <!-- Second column -->
                <label for="cognome" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Cognome:</label>
                <input id="cognome" formControlName="cognome" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required>
                <div *ngIf="anagraficaForm.get('cognome')?.invalid && anagraficaForm.get('cognome')?.touched"
                    class="text-danger">
                    <small *ngIf="anagraficaForm.get('cognome')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">Cognome è richiesto.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <label for="sesso" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Sesso:</label>
                <select id="sesso" formControlName="sesso" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required>
                    <option value="">Seleziona</option>
                    <option value="M">Maschio</option>
                    <option value="F">Femmina</option>
                </select>
                <div *ngIf="anagraficaForm.get('sesso')?.invalid && anagraficaForm.get('sesso')?.touched"
                    class="text-danger">
                    <small *ngIf="anagraficaForm.get('sesso')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">Sesso è richiesto.</small>
                </div>
            </div>
            <div class="col-12 col-md-6"> <!-- Second column -->
                <label for="dataNascita" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Data di Nascita:</label>
                <input id="dataNascita" type="date" formControlName="dataNascita" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required>
                <div *ngIf="anagraficaForm.get('dataNascita')?.invalid && anagraficaForm.get('dataNascita')?.touched"
                    class="text-danger">
                    <small *ngIf="anagraficaForm.get('dataNascita')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">Data di Nascita è richiesta.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-6"> <!-- Second column -->
                <label for="cittaNascita" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Città di Nascita:</label>
                <input id="cittaNascita" [ngbTypeahead]="searchCittaNascita" formControlName="cittaNascita"
                    (selectItem)="onCitySelect($event)" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required>
                <div *ngIf="anagraficaForm.get('cittaNascita')?.invalid && anagraficaForm.get('cittaNascita')?.touched"
                    class="text-danger">
                    <small *ngIf="anagraficaForm.get('cittaNascita')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">Città di Nascita è richiesta.</small>
                </div>
            </div>
            <div class="col-12 col-md-6"> <!-- First column -->
                <label for="codiceFiscale" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Codice Fiscale:</label>
                <input id="codiceFiscale" formControlName="codiceFiscale" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required>
                <div *ngIf="anagraficaForm.get('codiceFiscale')?.invalid && anagraficaForm.get('codiceFiscale')?.touched"
                    class="text-danger">
                    <small *ngIf="anagraficaForm.get('codiceFiscale')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">Codice Fiscale è richiesto.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-6"> <!-- Recapito -->
                <label for="recapito" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Recapito:</label>
                <input id="recapito" formControlName="recapito" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required>
                <div *ngIf="anagraficaForm.get('recapito')?.invalid && anagraficaForm.get('recapito')?.touched"
                    class="text-danger">
                    <small *ngIf="anagraficaForm.get('recapito')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">Recapito è richiesto.</small>
                </div>
            </div>
            <div class="col-12 col-md-6"> <!-- Tipo Recapito -->
                <label for="idTipoRecapito" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Tipo
                    Recapito:</label>
                <select id="idTipoRecapito" formControlName="idTipoRecapito" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required>
                    <option value="">Seleziona un tipo recapito</option>
                    <option *ngFor="let tipo of tipologie" [value]="tipo.idTipoRecapito">{{ tipo.nome }}</option>
                </select>
                <div *ngIf="anagraficaForm.get('idTipoRecapito')?.invalid && anagraficaForm.get('idTipoRecapito')?.touched"
                    class="text-danger">
                    <small *ngIf="anagraficaForm.get('idTipoRecapito')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">Tipo Recapito è richiesto.</small>
                </div>
            </div>
        </div>

        <button type="submit" class="btn custom-btn w-100" [disabled]="anagraficaForm.invalid"
            style="font-size: 1.2rem;">
            Next
        </button>
    </form>
</div>