<div class="container d-flex justify-content-center align-items-center custom-margin">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="text-center bg-dark text-light"
        style="max-width: 800px; width: 90%; padding: 40px; border-radius: 20px;">

        <h2 class="mb-4" style="font-size: 2rem; font-weight: bold; color: whitesmoke;">Dati di Residenza:</h2>

        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <label for="cittadinanza" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Cittadinanza:</label>
                <input id="cittadinanza" formControlName="cittadinanza" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required>
            </div>
            <div class="col-12 col-md-6">
                <label for="nazione" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Nazione:</label>
                <input id="nazione" [ngbTypeahead]="searchNazione" formControlName="nazione" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required>
                <div *ngIf="registrationForm.get('nazione')?.invalid && registrationForm.get('nazione')?.touched"
                    class="text-danger">
                    <small *ngIf="registrationForm.get('nazione')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">Nazione è richiesta.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <label for="provincia" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Provincia:</label>
                <input id="provincia" [ngbTypeahead]="searchProvincia" formControlName="provincia" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required
                    (change)="onProvinciaChange()">
                <div *ngIf="registrationForm.get('provincia')?.invalid && registrationForm.get('provincia')?.touched"
                    class="text-danger">
                    <small *ngIf="registrationForm.get('provincia')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">Provincia è richiesta.</small>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label for="citta" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Città:</label>
                <input id="citta" [ngbTypeahead]="searchCitta" formControlName="citta" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required
                    (change)="onCittaChange()">
                <div *ngIf="registrationForm.get('citta')?.invalid && registrationForm.get('citta')?.touched"
                    class="text-danger">
                    <small *ngIf="registrationForm.get('citta')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">Città è richiesta.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <label for="cap" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">CAP:</label>
                <select id="cap" formControlName="cap" class="form-control" required
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;">
                    <option value="" disabled selected>Select CAP</option>
                    <option *ngFor="let cap of capInizio" [value]="cap">{{ cap }}</option>
                </select>
                <div *ngIf="registrationForm.get('cap')?.invalid && registrationForm.get('cap')?.touched"
                    class="text-danger">
                    <small *ngIf="registrationForm.get('cap')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">CAP è richiesto.</small>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label for="tipologiaIndirizzo" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Tipologia Indirizzo:</label>
                <select id="tipologiaIndirizzo" formControlName="tipologiaIndirizzo" class="form-control" required
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;">
                    <option value="" disabled selected>Select Tipologia Indirizzo</option>
                    <option *ngFor="let tipo of tipologiaIndirizzi" [value]="tipo.idTipologiaIndirizzo">{{ tipo.nome }}
                    </option>
                </select>
                <div *ngIf="registrationForm.get('tipologiaIndirizzo')?.invalid && registrationForm.get('tipologiaIndirizzo')?.touched"
                    class="text-danger">
                    <small *ngIf="registrationForm.get('tipologiaIndirizzo')?.errors?.['required']"
                        style="font-size: 1rem; color: #ff0000;">Tipologia Indirizzo è richiesta.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <label for="indirizzo" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Indirizzo:</label>
                <input id="indirizzo" formControlName="indirizzo" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required>
            </div>
            <div class="col-12 col-md-6">
                <label for="civico" class="form-label"
                    style="font-size: 1.2rem; color: whitesmoke; font-weight: bold;">Civico:</label>
                <input id="civico" formControlName="civico" class="form-control"
                    style="height: 45px; font-size: 1.2rem; color: black; font-weight: bold;" required>
            </div>
        </div>

        <button type="submit" class="btn custom-btn w-100" [disabled]="registrationForm.invalid"
            style="font-size: 1.2rem;">
            Submit
        </button>
    </form>
</div>